.link {
  cursor: pointer;
}

.alertBox {
  z-index: 99;
  position: fixed;
  transform: translateX(-50%);
  top: 20%;
  left: 50%;
  width: 70vw;
}

.footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media (max-width: 800px){
  .Modal {
    width:90%;
  }
}
