.center {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-clear-coat {
  background: rgba(0,0,0,0.20);
}

.link {
  cursor: pointer;
}

.alertBox {
  z-index: 99;
  position: fixed;
  transform: translateX(-50%);
  top: 20%;
  left: 50%;
  width: 70vw;
}

.footer {
    text-align: center;
    position: relative;
    clear: both;
    width: 100%;
    left: 0;
    bottom: 0;
}

.input-container {
  display: flex;
  width: 100%;
}

input:focus {
  outline:  none;
}

.Modal {
  position:absolute;
  padding:15px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  background-color: white;
  outline: none;
}

@media (max-width: 800px){
  .Modal {
    width:90%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.input-container span {
  font-size: 15px;
  background-color: lightgrey;
  position: absolute;
  top: 25px;
  right: 20px;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 50%;
  height: 15px;
}

nav {
  margin-bottom: 120px;
}