.form {
	width: 700px;
	background:
	radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #fa8cff 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
 	radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #5100ff 10px, rgba(96, 16, 48, 0) 11px),
 	#000000;
	background-size: 20px 20px;
}

